#include <windows.h>

#include "resource.h"
#include "version.h"

IDI_PROCYON ICON "Procyon.ico"
IDR_FONT_INTER RCDATA "fonts/InterVariable.ttf"
IDR_FONT_ROUNDED RCDATA "fonts/NunitoVariable.ttf"

IDR_ACCELERATORS ACCELERATORS
BEGIN
    "1", IDM_PAGE_OVERVIEW, VIRTKEY, CONTROL
    "2", IDM_PAGE_PROCESSES, VIRTKEY, CONTROL
    "3", IDM_PAGE_CPU, VIRTKEY, CONTROL
    "4", IDM_PAGE_MEMORY, VIRTKEY, CONTROL
    "5", IDM_PAGE_GPU, VIRTKEY, CONTROL
    "6", IDM_PAGE_DISK, VIRTKEY, CONTROL
    "7", IDM_PAGE_NETWORK, VIRTKEY, CONTROL
    "8", IDM_PAGE_STARTUP, VIRTKEY, CONTROL
    "9", IDM_PAGE_SERVICES, VIRTKEY, CONTROL
    "K", IDM_PALETTE, VIRTKEY, CONTROL
    "F", IDM_FIND, VIRTKEY, CONTROL
    "I", IDM_INFO, VIRTKEY, CONTROL
    VK_BACK, IDM_END_TASK, VIRTKEY, CONTROL
    VK_BACK, IDM_FORCE_QUIT, VIRTKEY, CONTROL, ALT
    VK_BACK, IDM_END_TREE, VIRTKEY, CONTROL, ALT, SHIFT
    VK_DELETE, IDM_END_TASK, VIRTKEY
    VK_DELETE, IDM_FORCE_QUIT, VIRTKEY, SHIFT
    "P", IDM_PAUSE, VIRTKEY, CONTROL, SHIFT
    VK_OEM_COMMA, IDM_PAGE_SETTINGS, VIRTKEY, CONTROL
    VK_F5, IDM_REFRESH, VIRTKEY
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION PROCYON_VERSION_MAJOR,PROCYON_VERSION_MINOR,PROCYON_VERSION_PATCH,0
 PRODUCTVERSION PROCYON_VERSION_MAJOR,PROCYON_VERSION_MINOR,PROCYON_VERSION_PATCH,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Procyon"
            VALUE "FileDescription", "Procyon"
            VALUE "FileVersion", PROCYON_VERSION_STRING
            VALUE "InternalName", "Procyon"
            VALUE "LegalCopyright", "MIT License"
            VALUE "OriginalFilename", "Procyon.exe"
            VALUE "ProductName", "Procyon"
            VALUE "ProductVersion", PROCYON_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
